block intro
    section#top.one.dark.cover
        div.container
            header
                h2.alt Hi, My name is 
                    strong Hoang Nguyen
                p
            div.row
                div.col-lg-6
                    div(style="height:333px;").panel.panel-info
                        div.panel-heading
                            h3.panel-title Personal Info
                        div.panel-body
                            ul.list-group
                                li.list-group-item.personal-info-height  
                                    h6.row.text-left
                                        span.icon.fa-briefcase.col-lg-1
                                        span.col-lg-11 Job : Web Designer, Web Developer, HTML5 Expert, Css3 Master
                                li.list-group-item.personal-info-height  
                                    h6.row.text-left
                                        span.icon.fa-map-marker.col-lg-1
                                        span.col-lg-11 From : Sofia, Bulgaria
                                li.list-group-item.personal-info-height  
                                    h6.row.text-left
                                        span.icon.fa-phone.col-lg-1
                                        span.col-lg-11 Phone : +359 888 171 368
                                li.list-group-item.personal-info-height  
                                    h6.row.text-left
                                        span.icon.fa-envelope.col-lg-1
                                        span.col-lg-11 Email : hoangnguyen1992@hotmail.com
                div.col-lg-6
                    div(style="height:333px;").panel.panel-info
                        div.panel-heading
                            h3.panel-title Developement Skills
                        div.panel-body
                             ul.list-group
                                li.list-group-item  
                                    h6.text-left Back-End
                                    div.progress.progress-striped.active
                                        div(style="width: 85%;").progress-bar
                                li.list-group-item  
                                    h6.text-left Front-End
                                    div.progress.progress-striped.active
                                        div(style="width: 75%;").progress-bar
                                li.list-group-item  
                                    h6.text-left Database
                                    div.progress.progress-striped.active
                                        div(style="width: 60%;").progress-bar
                                li.list-group-item  
                                    h6.text-left Algorithms
                                    div.progress.progress-striped.active
                                        div(style="width: 70%;").progress-bar
            footer
                a(href="#portfolio").button.scrolly Portfolio