block portfolio
    section#portfolio.two
        div.container
            header
                h2 Portfolio
            p I am interested in the programming languages and technologies like Java, Spring, Hibernate, HTML, CSS, jQuery, AngularJS, Bootstrap, NodeJS
            div.row
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 
            div.row
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 
                div.col-lg-4
                    div.panel.panel-info
                        div.panel-heading
                            h4.padenl-title Smart and Easy(In progress)
                        div.panel-body
                            article.item
                                a(href="#").image.fit
                                    img(src="/images/projects/p1.jpg")
                        div.panel-footer
                            h5 Used Technology: PHP, HTML5, CSS3, jQuery 